version: '3.7'

x-common-props: &common-props
  build:
    context: ./
    target: base
  working_dir: /base
  volumes:
    - ./:/base
  env_file:
    - .env

services:
  npm:
    <<: *common-props
    entrypoint: npm
  dev:
    <<: *common-props
    ports:
      - '${PORT}:${PORT}'
    command: npm run dev
  prod:
    build: .
    env_file:
      - .env
    ports:
      - '${PORT}:${PORT}'
